body {
  margin: 0;
  padding: 0;
  background-color: #b0b0b0;
  font-family: Arial, Helvetica, sans-serif;
}

.login-container {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  padding: 4px;
  border-radius: 20px;
  background-color: rgb(150, 150, 150);
}

.login-container input {
  margin: 10px 0;
  padding: 10px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-container button {
  margin-top: 10px;
  padding: 10px 20px;
  width: 270px;
  border: none;
  border-radius: 4px;
  background-color: #202020;
  color: white;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #181818;
} 


